<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="input-group">
  <%=form.text_field :content, class: "form-control",placeholder: "Message",style:";position: relative;width:100%;margin-top:1%"%>
  <%= form.hidden_field :room_id,value:room.id %>
   <div class="input-group-append">
  <%= form.submit "Add", class: "btn btn-primary",style:"position:absolute;margin-top:%;margin-left:100%" %>
   </div>
<!--  <button class="btn btn-outline-secondary" type="button" id="button-add">Button</button>-->
</div>
<% end %>


