<%= turbo_frame_tag "message" do %>
  <%if message.user_id==current_user.id %>
<div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 60px;">
  <div class="d-flex flex-row justify-content-start">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
         alt="avatar 1" style="width: 45px; height: 100%;">
    <div>
      <%@username=User.find_by(id:message.user_id)%>
      <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;color: #1a1e21"><%=message.content %></p>
      <p class="small ms-3 mb-3 rounded-3 text-muted"><%= message.created_at.strftime("%H:%M:%S")%> <%=@username.name%></p>
      <p class="small ms-3 mb-3 rounded-3 text-muted"></p>

    </div>
  </div>
</div>
    <%else %>


    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 60px">
      <div class="d-flex flex-row justify-content-start" style="position: absolute;right: 10%">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
             alt="avatar 1" style="width: 45px; height: 100%;">
        <div>
          <%@username=User.find_by(id:message.user_id)%>
          <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: slategray;color: white"><%=message.content %></p>
          <p class="small ms-3 mb-3 rounded-3 text-muted"><%= message.created_at.strftime("%H:%M:%S")%> <%=@username.name%></p>
          <p class="small ms-3 mb-3 rounded-3 text-muted"></p>

        </div>
      </div>
    </div>

  <%end %>
<% end %>